<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RexTech</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
</head>
<body>
    <header>
        <div class="logo">
          <a href="index.html" id="logo_r"><img src="imagens/Subtract.png" alt="Logo" width="50px" height="55px"></a>
        </div>
        <div class="menu_meio">
          <form class="pesquisa">
            <input id="pesq" type="text" placeholder="Pesquisar">
            <button type="submit"><img src="imagens/Lupa.svg" alt="Pesquisar"></button>
          </form>
          <nav>
            <ul>
                <li><a href="destaques.html">Destaques</a></li>
                <li><a href="hardware.html">Hardware</a></li>
                <li><a href="software.html">Software</a></li>
                <li><a href="sobre.html">Sobre nós</a></li>
                <li><a href="notebook.html">Notebooks</a></li>
            </ul>
          </nav>
        </div>
        <div class="icons">
          <a href="login.html" class="icon"><img src="imagens/Group.png" alt="1" width="45px" height="45px">Entrar</a>
          <a href="carrinho.html" class="icon"><img src="imagens/Vector.png" alt="1" width="45px" height="45px">Carrinho</a>
        </div>
        
    </header>
    <main>
        <div class="formcontainer">
            <form class="form-box">
                <h2>Crie sua conta</h2>
                <p>Preencha os campos para cadastrar a sua conta</p>

                <input type="text" placeholder="Seu nome completo" required>

                <div class="flex-row">
                    <input type="date" placeholder="Data de nascimento" required />
                    <input type="text" placeholder="CPF" required />
                </div>

                <input type="email" placeholder="E-mail" required />
                <input type="email" placeholder="Confirmar e-mail" required />

                <div class="flex-row">
                    <input type="password" placeholder="Senha" required />
                    <input type="password" placeholder="Confirmar senha" required />
                </div>

                <div class="captcha-box">
                    <input type="checkbox" id="captcha" />
                    <label for="captcha">Não sou um robô</label>
                </div>

                <button type="submit" class="btn-green">CADASTRAR</button>
                <hr />
                <button type="button" class="btn-gray">LOGIN</button>
            </form>
        </div>
    </main>

    <footer>
        <div class="highfooter">
          <div class="IFRN">
            <a href="https://portal.ifrn.edu.br"><img src="imagens/ifrn.svg" alt="Logo do IFRN" width="50px" height="50px"></a>
            <a href="https://portal.ifrn.edu.br"><img src="imagens/instituto.svg" alt="Descrição do IFRN" width="230px" height="50px"></a>
          </div>
          <div class="logo_f">
            <a href="index.html"><img src="imagens/Logo 2.svg"  alt="Logo da RexTech com degradê" width="50px" height="50px"></a>
          </div>
          <div class="icons_f">
            <a href="https://www.google.com/maps" class="icon"><img src="imagens/logos_google-maps.svg" alt="Logo do Google Maps" width="40px" height="30px"></a>
            <a href="index.html" class="icon"><img src="imagens/logos_google-gmail.svg" alt="Logo do Gmail" width="40px" height="30px"></a>
            <a href="https://www.instagram.com" class="icon"><img src="imagens/mdi_instagram.svg" alt="Logo do Instagram" width="40px" height="30px"></a>
            <a href="https://github.com/PI-InfoWeb-CNAT/PI-RexTech" class="icon"><img src="imagens/logo_github.svg" alt="Logo do Github" width="40px" height="30px"></a> 
          </div>


        </div>

        <div class="subfooter">
          <p id="desen">Desenvolvido pelo grupo RexTech</p> 
          <a href="https://diatinf.ifrn.edu.br" id="diatinf">
            <img src="imagens/diatinf.svg" alt="Logo da DIATINF" width="40px" height="40px">
          </a>
          <p id="copy">Copyright ©2025</p>
        </div>
              </footer>
