*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    flex-grow: 1;
    width: 100%;
}


body{
    width: 100%;
    min-height: 100vh;
    background: 13132A;
    background: linear-gradient(360deg,rgb(36, 34, 75) 0%, rgba(0, 0, 0, 1) 100%);
    position: relative;
    display: flex;
    flex-direction: column;
    position: relative;
}

header{
    height: 19vh;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 4%; 
    text-decoration: none;
    background-color: #E98C37;
}

.menu_meio{
    height: 10vh;
    margin-top: 2%;

}

.icons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center; 
    padding-top: 1.5%;
    gap: 20%;
    margin-right: 160px;
}

.icon{
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    color: white;
    text-decoration: none;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
    margin-left: 160px;
}


.pesquisa{
    display: flex;
    align-items: center;
    position: relative;
}

.pesquisa input[type="text"] {
    width: 100%;
    padding: 10px 40px 10px 10px;
    font-size: 16px;
}

.pesquisa button{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    /* color: #fff; */
}

#pesq{
    width: 42vw;
    height: 40px;
    border-radius: 50px;
}

nav{
    margin-top: 2%;
    display: flex;
}

nav a{
    color: white;
    text-decoration: none;
}

ul{
    width: 40vw;
    display: flex;
    justify-content: space-between;   
    list-style-type: none;
}




footer{
    height: 25vh;
    background-color: #E98C37;
    justify-content: center;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}


.highfooter{
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons_f{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-left: 8%;
    margin-top: 1.5%;
}

.logo_f{
    margin-top: 1.5%;
}

.subfooter{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 1vw;
    background-color: #D57E2E;
    position: absolute;
    bottom: 0;
}

#copy{
    padding-top: 0.5em;
    margin-left: 2%;
    color: white;
}

.IFRN{
    position: static;
    margin-left: 1%;
    width: 20px;
}

.perfil{
    color: white;
}