.container-carrinho-maior{
    display: flex;
    justify-content: center;
}

.container-carrinho-itens{
    margin-right: 2em;
    background-color: white;
    min-width: 950px;
    min-height: 600px;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 5em;
}

span{
    font-size: 18px;
    color: #0a0a0a;
}

#qtd{
    margin-right:10em;
}

#produto{
    margin-right: 38em;
}

.container-carrinho-preco{
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 5em;
}

button{

}
