<!-- {% extends "base.html" %}
{% block conteudo %}
{% load static %}

{% endblock %} -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <div>
            <div>
                <h2>Carrinho de Compras</h2>
                <span>Produto</span>
                <span>Qtd</span>
                <span>Preço</span>    
            </div>
        </div>
        <div>
            <h2>Resumo do pedido</h2>
            <span>Valor subtotal: </span>
            <span>Valor total</span>
            <span><button type="button">Finalizar Pedido</button></span>
        </div>

    </div>
</body>
</html>