{% extends "base.html" %}
{% block conteudo %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <main>
        <!-- Carrossel -->
        <section>
            {% include 'components/carrossel.html' %}
        </section>

        <!-- Mais comprados -->
        <section id="mais_c">
            <h2 id="mC" class="comprado">Mais Comprados</h2>
            <div class="card_container">
                {% include 'components/card.html' %}
            </div>
        </section>

        <!-- Melhor avaliados -->
        <section id="mais_a">
            <h2 id="mA" class="avaliacao">Melhor Avaliados</h2>
            <div class="card_container">
                {% include 'components/card.html' %}
            </div>
        </section>

        <!-- Novidades -->
        <section id="novidades">
            <h2 id="novi" class="novidade">Novidades</h2>
            <div class="card_container">
                {% include 'components/card.html' %}
            </div>

        </section>
    </main>
</body>

</html>
{% endblock %}