{% extends "base.html" %}
{% block conteudo %}
{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <main>
        <div class="formcontainer2">
            <form class="form-box" method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <h2>Bem-vindo(a) de volta!</h2>
                <p>Informe o seu e-mail e senha</p>

                <input type="email" name="email" placeholder="Seu e-mail" required>
                <input type="password" name="senha" placeholder="Sua senha" required>

                <div class="captcha-box">
                    <input type="checkbox" id="captcha" name="captcha" />
                    <label for="captcha">Não sou um robô</label>
                </div>

                <a href="{% url 'sign-up' %}" class="btn-gray">CRIAR CONTA</a>
                <hr />
                <button type="submit" class="btn-green">ENTRAR</button>
            </form>
        </div>
    </main>

{% endblock %}