{% load static %}

{% for x in produtos %}
<div class="card">
    <div class="top-card">
        <a href="{% url 'detalhar_produto' x.id %}">
            
            {% if x.imagem_url %}
                <img class="card-image" src="{{ x.imagem_url.url }}" alt="{{ x.nome }}">
            {% else %}
                <img class="card-image" src="{% static 'imagens/notebook.webp' %}" alt="Imagem indisponível">
            {% endif %}
        </a>
        <div class="nome">{{x.nome}}</div>
        <div class="categoria">{{x.Categoria_id.nome}}</div> 
        
        <div class="especificacao">{{x.especificacoes|truncatechars:50}}</div>
        
        <div class="preco">R$ {{x.preco}}</div>
    </div>

  <div class="bottom-card">
      <div class="rating">
          {% for i in "12345" %}
          <svg width="16" height="16" viewBox="0 0 24 24" fill="#FFD700" stroke="#FFD700" stroke-width="0.5">
              <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2" />
          </svg>
          {% endfor %}
      </div>

      <a href="{% url 'adicionar_carrinho' x.id %}" class="btn" style="text-decoration: none; display: flex; align-items: center; justify-content: center;">
          <span>+</span>
          <img class="icon_card" src="{% static 'imagens/carrinho_produto.png' %}" height="20px" width="20px" alt="Carrinho">
      </a>
      
  </div>
</div>
{% endfor %}