<div>
    <!-- Produto do card -->
    <div>
        <span><img src= <!-- colocar imagem do produto --> ></span>
        <span>{{<!--colocar nome do produto-->}}</span>
        <span>{{<!--colocar descricao do produto-->}}</span>
    </div>

    <!-- Botão de Quantidade -->
    <div>
        <div class="produto-qtd-container">
            <div class="controles">
              <button class="btn-acao" id="btn-menos">-</button>
              
              <input type="number" id="qtd-numero" value="2" min="0" readonly>
              
              <button class="btn-acao" id="btn-mais">+</button>
              
              <button class="btn-deletar" aria-label="Remover produto">
                <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                  <polyline points="3 6 5 6 21 6"></polyline>
                  <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path>
                </svg>
              </button>
            </div>
          </div>
    </div>

    <!---->
    <div>
        <span>{{<!-- colocar valor do produto-->}}</span>
    </div>
</div>