{% extends "base.html" %} 
{% block conteudo %}
{% load static %}

<div class="admin-dashboard-container">
    <h2 class="mb-4">Painel de Administração RexTech</h2>
    <p>Bem-vindo(a) ao painel de controle, <b>{{ request.user.nome|default:request.user.email }}</b>.</p>
    
    <hr>

    <h3 class="mt-4 mb-3">Gerenciamento de Dados</h3>

    <div class="row">
        
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm border-primary">
                <div class="card-body">
                    <h5 class="card-title text-primary">Produtos Cadastrados</h5>
                    <h1 class="card-text">{{ total_produtos }}</h1>
                    <a href="{% url 'admin_produtos_list' %}" class="btn btn-sm btn-primary mt-2">
                        Gerenciar Produtos
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card shadow-sm border-success">
                <div class="card-body">
                    <h5 class="card-title text-success">Total de Usuários</h5>
                    <h1 class="card-text">{{ total_usuarios }}</h1>
                    <a href="{% url 'admin_usuarios_list' %}" class="btn btn-sm btn-success mt-2">
                        Gerenciar Usuários
                    </a>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm border-info">
                <div class="card-body">
                    <h5 class="card-title text-info">Categorias</h5>
                    
                    <h1 class="card-text">{{ total_categorias }}</h1> 
                    
                    <a href="{% url 'admin_categorias_list' %}" class="btn btn-sm btn-info mt-2 text-white">
                        Gerenciar Categorias
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card shadow-sm border-info">
                <div class="card-body">
                    <h5 class="card-title text-info">Fabricantes</h5>
                    
                    <h1 class="card-text">{{ total_fabricantes }}</h1> 
                    
                    <a href="{% url 'admin_fabricantes_list' %}" class="btn btn-sm btn-info mt-2 text-white">
                        Gerenciar Fabricantes
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card shadow-sm border-warning">
                <div class="card-body">
                    <h5 class="card-title text-warning">Pedidos Realizados</h5>
                    <h1 class="card-text">{{ pedidos.count|default:total_pedidos }}</h1> 
                    <a href="{% url 'admin_pedidos_list' %}" class="btn btn-sm btn-warning mt-2">
                        Gerenciar Pedidos
                    </a>
                </div>
            </div>
        </div>
        
    </div>

</div>
{% endblock conteudo %}